<div class="htmlText" style="margin:5px">
{% if request.user.profile.authenticated %}
    {% block hello_user %}
        <p>{{_("Quick links:")}}
        {% for mi in settings.SITE.get_quicklinks(ar).items %}
        [{{E.tostring(ar.window_action_button(mi.bound_action,icon_name=None))}}]
        {% endfor %}
        {% if settings.SITE.plugins.extjs.autorefresh_seconds %}
        <a href="javascript:Lino.autorefresh();">autorefresh</a>
        {% endif %}
        <a href="javascript:Lino.viewport.refresh();">refresh</a>
        </p>
        <p>{{_("Hi, %(first_name)s!") % dict(first_name=ar.get_user().first_name)}}
        {% for msg in settings.SITE.get_welcome_messages(ar) %}
            {{ E.tostring(msg) }}
        {% endfor %}
        </p>
        {% block feedback %}
        {% if site.is_demo_site %}
        <p>
        {{_("This is a Lino demo site.")}}
        {{_("Try also the other <a href=\"http://lino-framework.org/demos.html\">demo sites</a>.")}}
        {{_("Your feedback is welcome to %s or directly to the person who invited you.") % '<a href="mailto:%(e)s">%(e)s</a>' % dict(e=settings.SITE.help_email)}}
        </p>
        {% endif %}
        {% endblock %}
        
    {% endblock %}
{% else %}
  {% block hello_anonymous %}
      {% if site.admin_prefix %}
        <p>
        {{_("You have entered the <b>admin</b> section.")}}
        {{_("Unlike the <a href=\"/\">web content section</a> there is now a GUI menu bar in the upper part of the screen.")}}
        </p>
      {% else %}
        <p>
        {{_("Welcome to the <b>%s</b> site.") % site.title or site.verbose_name}}
        {% if site.verbose_name and site.url and site.version %}
        {{_("We are running %(name)s version %(version)s") % dict(
            name=E.tostring(E.a(site.verbose_name, href=site.url)),
            version=site.version)}}
        {% endif %}
        </p>
      {% endif %}
      {% if site.user_model %}
      {% if site.is_demo_site %}
        <p>
        {{_("This demo site has %d users:") % 
        site.modules.users.UsersOverview.request().get_total_count()}}
        </p>
        {{as_ul('users.UsersOverview')}}
        <p>
        {{_("You will now probably want to")}}
        <a href="#" 
           onclick="javascript:Lino.show_login_window()">{{_("log in")}}</a>
        {{_("using one of these names.")}}
        {{_("The password is the same for all of them: \"1234\".")}}
        </p>
      {% else %}
        <p>
        {{_("You will now probably want to use the <b>Log in</b> button in the upper right corner and log in.")}}
        </p>
      {% endif %}
      {% endif %}
      {{ self.feedback() }}
  {% endblock %}
{% endif %}

{% block admin_main_items %}
{% for T in settings.SITE.get_admin_main_items(ar) %}
{% if E.iselement(T) %}{{E.tostring(T)}}{% else %}
{% if T.default_action.get_view_permission(ar.get_user().profile) %}
<h2>{{T.label}} 
{{E.tostring(ar.window_action_button(T.default_action,
    title=_("Show this panel in own window"),
    style='vertical-align:0;',
    icon_name="../xsite/link"))}}
</h2>
{{E.tostring(ar.show(T, limit=T.preview_limit))}}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}

</div>
