<!DOCTYPE html>
<html language="{{requested_language}}"><head>
<meta charset="utf-8"/>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{site.plugins.bootstrap3.build_lib_url('css','bootstrap.css')}}" type="text/css">
<link rel="stylesheet" href="{{site.build_static_url('bootstrap.css')}}" type="text/css">
</head><body>
<div id="wrap">
  <div class="container-fluid">
    {% block header %}
    <div class="container-fluid lino-bs-header">
    {% if False and site.user_model -%}
        <form class="form-inline" method="POST" action="{{ar.renderer.plugin.build_plain_url('auth')}}">
        <input type="username" class="input-small" placeholder="Username">
        <input type="password" class="input-small" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
        &mdash;
    {% endif -%}

    {% if len(site.languages) > 1 -%}
      {% for lang in site.languages -%}
        {% if lang.django_code == requested_language -%}
            {{lang.django_code}}
        {% else -%} {# URL_PARAM_USER_LANGUAGE #}
            <a href="{{ar.get_request_url(ul=lang.django_code)}}">{{lang.django_code}}</a> 
        {% endif -%}
      {% endfor -%}
      {%- if len(site.user_interfaces) > 0 %}
          &mdash;
      {% endif -%}
    {% endif -%}

    {%- if len(site.user_interfaces) > 0 -%}
        {% for p in site.user_interfaces -%}
            {%- if ar.ui == p %}
            {{p.ui_label}}
            {%- else -%}
            <a href="{{p.build_plain_url()}}">{{p.ui_label}}</a>
            {% endif -%}
        {%- endfor -%}
    {%- endif -%}

    {% if False and site.user_model -%}
      </form>
    {% endif -%}

    </div>
    {% endblock %}

    {% block navbar %}
      {% if menu -%}
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  {{menu}}
              </div>  
           </div>  
        </nav>  
      {% endif -%}
    {% endblock %}
    {% block main %}
    <div class="container-fluid">
        {% block content %}
        This page has no content.
        {% endblock %}
    </div>
    {% endblock %}
  </div>
  <div id="push"></div>
</div>
<div id="footer">
<footer class="container-fluid">
{% block footer %}
<p style="vertical-align: middle;">
{% if request  and site.title %}
&copy; Copyright {{now.year}} by <a href="http://{{request.get_host()}}">{{site.title}}</a>.
{% endif %}
{{E.tostring(site.welcome_html())}}
</p>
{% endblock %}
</footer>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{site.plugins.bootstrap3.build_lib_url('js','bootstrap.min.js')}}"></script>
</body></html>
